* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* GLOBAL THEME */
body {
  background: #eef2ff;
  color: #1e293b;
}

/* NAVBAR */
header {
  background: #1e3a8a;
  padding: 18px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.logo {
  color: #ffffff;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #dbeafe;
  font-weight: 500;
}

nav a:hover {
  color: #ffffff;
}

/* HERO / ABOUT */
.hero {
  min-height: 90vh;
  padding: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text {
  max-width: 520px;
}

.hero-text h1 {
  font-size: 3rem;
}

.hero-text span {
  color: #1e40af;
}

.hero-text h2 {
  margin: 10px 0;
  color: #475569;
}

.hero-text p {
  margin: 18px 0 30px;
  color: #475569;
  line-height: 1.7;
}

/* RESUME BUTTON */
.btn {
  display: inline-block;
  padding: 12px 26px;
  background: #1e40af;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(30,64,175,0.4);
}

.btn:hover {
  background: #1d4ed8;
}

/* PROFILE IMAGE */
.hero-image img {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top center;

  /* 🔥 ZOOM OUT */
  transform: scale(0.88);

  background-color: #ffffff;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}



/* SECTIONS */
section {
  padding: 80px 10%;
}

section h2 {
  margin-bottom: 30px;
  color: #1e40af;
}

/* SKILLS */
#skills{
    background-color: #f8fafc   ;;
}
.skills h2 {
  text-align: center;
}

.skill-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 14px;
}

.skill-box span {
  background: #e0e7ff;
  padding: 10px 18px;
  border-radius: 20px;
  font-weight: 500;
  color: #1e40af;
}

/* PROJECTS */
.section-left {
  text-align: left;
}

.projects {
  background: #f8fafc;
}

.project-card {
  background: white;
  padding: 26px;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.08);
}

/* CONTACT */
.contact p {
  margin: 8px 0;
}

/* FOOTER */
footer {
  background: #1e3a8a;
  color: #dbeafe;
  text-align: center;
  padding: 15px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .hero {
    flex-direction: column-reverse;
    text-align: center;
  }

  .hero-image img {
    margin-bottom: 35px;
  }
}

/* EDUCATION */
.education {
  background: #eef2ff;
}

.education h2 {
  text-align: left;
}

.education-card {
  max-width: 600px;
  margin-left: 0;     /* ⬅ card moves left */
  margin-right: auto;
  background: #ffffff;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.08);
}


.education-card h3 {
  color: #1e40af;
  margin-bottom: 10px;
}

.education-card .college {
  color: #475569;
  margin-bottom: 8px;
  font-weight: 500;
}
